# Sales report using Pandas
***
## Problem Statement

Hello budding Data Scientists. We have with us a bank data set which gives information about the revenue of various customers spread across different regions in USA.

Using the knowledge of Pandas and Matplotlib, we will try to answer certain questions from the bank dataset  

We will also then scrape certain additional data from Wikipedia, clean it and combine it with our bank data for better understandability of the data.      


## About the Dataset

Preview of the dataset 

![bank_dataset](../images/bank_data.png)

The dataset has details of 15 customers with following 9 features.

|Feature|Description|
|-----|-----|
|account|account Id|
|name|name of the person|
|street|Name of the street|
|city|Name of the city|
|state|Name of the state|
|postal-code|numerical value|
|Jan|Amount in doller|
|Feb|Amount in doller|
|Mar|Amount in doller|




## Why solve this project

Doing this project will enable you to integrate Multiple data sources to answer basic questions. You will also learn to perform common excel tasks with pandas

What will you learn in the session ?
Python Basics
Pandas
Web Scrapping
Functions
Plotting
Pre-requisites
Working knowledge of Pandas, Numpy, Matplotlib
Data indexing and slicing

# Load Data and Compute total
The first step - you know the drill by now - load the dataset and see how it looks like. Additionally, calculate the total amount in the first quarter of the financial year. Calculate the total amount of all the users for the month of jan, feb and Mar and also grand total. 
  

## Instructions

- Load dataset using pandas read_csv api in variable `df` and give file path as `path`.
- The names of the states `state` column are changed to lower case and store it in `df['state']`
- Create a new column named `total` which computes the total amount in the first quarter
  of the financial year i.e. for the months of Jan, Feb and Mar and store it in `df['total']`
- Calculate the sum of amount of all users in the Month of Jan, Feb, March and store it in variable `sum_row` 
 (Here the sum implies the sum of all the entries in the `Jan Column`, sum of entries in `Feb` Column and Grand total stands for the sum of entries in the column `total`)
- Append this computed sum to the DataFrame `df_final`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Code starts here
path='C:/New folder/No-backup/Study/python_hackathon/python_hackathon/pandas_guided_project/data/excel-comp-data.csv'
df = pd.read_csv(path)

df['state'] = df['state'].apply(lambda x: x.lower())


df['total'] = df['Jan'] + df['Feb'] + df['Mar']
print (df)


#Code ends here

    account                              name  \
0    211829        Kerluke, Koepp and Hilpert
1    320563                    Walter-Trantow
2    648336        Bashirian, Kunde and Price
3    109996       D'Amore, Gleichner and Bode
4    121213                     Bauch-Goldner
5    132971  Williamson, Schumm and Hettinger
6    145068                        Casper LLC
7    205217                  Kovacek-Johnston
8    209744                    Champlin-Morar
9    212303                    Gerhold-Maggio
10   214098       Goodwin, Homenick and Jerde
11   231907                        Hahn-Moore
12   242368      Frami, Anderson and Donnelly
13   268755                       Walsh-Haley
14   273274                     McDermott PLC

                                  street               city          state  \
0                     34456 Sean Highway         New Jaycob          texas
1                      1311 Alvis Tunnel      Port Khadijah  northcarolina
2   62184 Schamberger Underpass Apt. 231     New Lilianland           iowa
3            155 Fadel Crescent Apt. 144         Hyattburgh          maine
4                    7274 Marissa Common    Shanahanchester     california
5                   89403 Casimer Spring       Jeremieburgh       arkansas
6           340 Consuela Bridge Apt. 400  Lake Gabriellaton     mississipi
7           91971 Cronin Vista Suite 601         Deronville    rhodeisland
8                       26739 Grant Lock    Lake Juliannton   pennsylvania
9              366 Maggio Grove Apt. 998          North Ras          idaho
10             649 Cierra Forks Apt. 078           Rosaberg       tenessee
11              18115 Olivine Throughway      Norbertomouth    northdakota
12                       182 Bertie Road        East Davian           iowa
13                  2624 Beatty Parkways       Goodwinmouth    rhodeisland
14                 8917 Bergstrom Meadow    Kathryneborough       delaware

    postal-code     Jan     Feb     Mar   total
0         28752   10000   62000   35000  107000
1         38365   95000   45000   35000  175000
2         76517   91000  120000   35000  246000
3         46021   45000  120000   10000  175000
4         49681  162000  120000   35000  317000
5         62785  150000  120000   35000  305000
6         18008   62000  120000   70000  252000
7         53461  145000   95000   35000  275000
8         64415   70000   95000   35000  200000
9         46308   70000  120000   35000  225000
10        47743   45000  120000   55000  220000
11        31415  150000   10000  162000  322000
12        72686  162000  120000   35000  317000
13        31919   55000  120000   35000  210000
14        27933  150000  120000   70000  340000

In [2]:
sum_row={'Jan':df['Jan'].sum(), 'Feb':df['Feb'].sum() , 'Mar':df['Mar'].sum() , 'total': df['total'].sum()}
print (sum_row)

{'Jan': 1462000, 'Feb': 1507000, 'Mar': 717000, 'total': 3686000}

In [3]:
df_final = df.append(sum_row , ignore_index=True )
 

df_final.tail(5)

,account,name,street,city,state,postal-code,Jan,Feb,Mar,total
11,231907.0,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,northdakota,31415.0,150000.0,10000.0,162000.0,322000.0
12,242368.0,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,iowa,72686.0,162000.0,120000.0,35000.0,317000.0
13,268755.0,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,rhodeisland,31919.0,55000.0,120000.0,35000.0,210000.0
14,273274.0,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,delaware,27933.0,150000.0,120000.0,70000.0,340000.0
15,NaN,NaN,NaN,NaN,NaN,NaN,1462000.0,1507000.0,717000.0,3686000.0

# Scrape Data From the web 

Here, you will be scraping data from the web and cleaning it. 
 
  
## Instructions:

- Scrapes the url `https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations` and store it in variable `url`
- Use module `requests` to `get` the url and store it in variable called `response`
- load the html file in dataframe `df1`. `Note`:use `pd.read_html(response.content)[0]`.   
- First few rows consists of unclean data. You need to select rows from index 11 till end. Make the values at index 11 as column headers and store it in dataframe `df1`.
- Remove space from the column named 'United States of America' and store the result in dataframe called `df1['United States of America']`

In [4]:
import requests
# Code starts here
url="https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations"

# Code ends here

In [5]:
response=requests.get(url)
print (response)

<Response [200]>

In [13]:
df1=pd.read_html(response.content)[0]
print(df1)

                                                   0   \
0   Codes:  ISO ISO 3166 codes (2-letter, 3-letter...
1                                              Codes:
2                                                 ISO
3                                                ANSI
4                                                USPS
5                                                USCG
6                                      Abbreviations:
7                                                 GPO
8                                                  AP
9                           Name and status of region
10                                                NaN
11                           United States of America
12                                            Alabama
13                                             Alaska
14                                            Arizona
15                                           Arkansas
16                                         California
17                                           Colorado
18                                        Connecticut
19                                           Delaware
20                               District of Columbia
21                                            Florida
22                                            Georgia
23                                             Hawaii
24                                              Idaho
25                                           Illinois
26                                            Indiana
27                                               Iowa
28                                             Kansas
29                                           Kentucky
..                                                ...
67                                U.S. Virgin Islands
68                        U.S. Minor Outlying Islands
69                                       Baker Island
70                                     Howland Island
71                                      Jarvis Island
72                                     Johnston Atoll
73                                       Kingman Reef
74                                     Midway Islands
75                                     Navassa Island
76                                   Palmyra Atoll[c]
77                                        Wake Island
78                                         Micronesia
79                                   Marshall Islands
80                                              Palau
81                    U.S. Armed Forces – Americas[d]
82                      U.S. Armed Forces – Europe[e]
83                     U.S. Armed Forces – Pacific[f]
84                           Northern Mariana Islands
85                                  Panama Canal Zone
86                                           Nebraska
87                                 Philippine Islands
88             Trust Territory of the Pacific Islands
89                                             Codes:
90                                                ISO
91                                               ANSI
92                                               USPS
93                                               USCG
94                                     Abbreviations:
95                                                GPO
96                                                 AP

                                                   1   \
0                                              Codes:
1                                                 NaN
2   ISO 3166 codes (2-letter, 3-letter, and 3-digi...
3   2-letter and 2-digit codes from the ANSI stand...
4   2-letter codes used by the United States Posta...
5   2-letter codes used by the United States Coast...
6                                                 NaN
7   Older variable-length official US Government P...
8   Abbreviations from the AP Stylebook (red text ...
9                                                 ISO
10                                                NaN
11                                      Federal state
12                                              State
13                                              State
14                                              State
15                                              State
16                                              State
17                                              State
18                                              State
19                                              State
20                                   Federal district
21                                              State
22                                              State
23                                              State
24                                              State
25                                              State
26                                              State
27                                              State
28                                              State
29                               State (Commonwealth)
..                                                ...
67                           Insular area (Territory)
68                                      Insular areas
69                                             island
70                                             island
71                                             island
72                                              atoll
73                                              atoll
74                                              atoll
75                                             island
76                                           atoll[c]
77                                              atoll
78                            Freely associated state
79                            Freely associated state
80                            Freely associated state
81                              US military mail code
82                              US military mail code
83                              US military mail code
84                            Obsolete postal code[g]
85                               Obsolete postal code
86                            Obsolete postal code[h]
87                               Obsolete postal code
88                               Obsolete postal code
89                                                NaN
90  ISO 3166 codes (2-letter, 3-letter, and 3-digi...
91  2-letter and 2-digit codes from the ANSI stand...
92  2-letter codes used by the United States Posta...
93  2-letter codes used by the United States Coast...
94                                                NaN
95  Older variable-length official US Government P...
96  Abbreviations from the AP Stylebook (red text ...

                                                   2   \
0                                                 ISO
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                ANSI
10                                                NaN
11  .mw-parser-output .monospaced{font-family:mono...
12                                              US-AL
13                                              US-AK
14                                              US-AZ
15                                              US-AR
16                                              US-CA
17                                              US-CO
18                                              US-CT
19                                              US-DE
20                                              US-DC
21                                              US-FL
22                                              US-GA
23                                              US-HI
24                                              US-ID
25                                              US-IL
26                                              US-IN
27                                              US-IA
28                                              US-KS
29                                              US-KY
..                                                ...
67                                      VIVIR850US-VI
68                                      UMUMI581US-UM
69                                              UM-81
70                                              UM-84
71                                              UM-86
72                                              UM-67
73                                              UM-89
74                                              UM-71
75                                              UM-76
76                                              UM-95
77                                              UM-79
78                                           FMFSM583
79                                           MHMHL584
80                                           PWPLW585
81                                                NaN
82                                                NaN
83                                                NaN
84                                                NaN
85                                           PZPCZ594
86                                                NaN
87                                        PHPHL608[4]
88                                           PCPCI582
89                                                NaN
90                                                NaN
91                                                NaN
92                                                NaN
93                                                NaN
94                                                NaN
95                                                NaN
96                                                NaN

                                                   3     4   \
0   ISO 3166 codes (2-letter, 3-letter, and 3-digi...  ANSI
1                                                 NaN   NaN
2                                                 NaN   NaN
3                                                 NaN   NaN
4                                                 NaN   NaN
5                                                 NaN   NaN
6                                                 NaN   NaN
7                                                 NaN   NaN
8                                                 NaN   NaN
9                                                USPS  USCG
10                                                NaN   NaN
11                                                 US    00
12                                                 AL    01
13                                                 AK    02
14                                                 AZ    04
15                                                 AR    05
16                                                 CA    06
17                                                 CO    08
18                                                 CT    09
19                                                 DE    10
20                                                 DC    11
21                                                 FL    12
22                                                 GA    13
23                                                 HI    15
24                                                 ID    16
25                                                 IL    17
26                                                 IN    18
27                                                 IA    19
28                                                 KS    20
29                                                 KY    21
..                                                ...   ...
67                                                 VI    78
68                                                 UM    74
69                                                NaN    81
70                                                NaN    84
71                                                NaN    86
72                                                NaN    67
73                                                NaN    89
74                                                NaN    71
75                                                NaN    76
76                                                NaN    95
77                                                NaN    79
78                                                 FM    64
79                                                 MH    68
80                                                 PW    70
81                                                NaN   NaN
82                                                NaN   NaN
83                                                NaN   NaN
84                                                NaN   NaN
85                                                NaN   NaN
86                                                NaN   NaN
87                                                NaN   NaN
88                                                NaN   NaN
89                                                NaN   NaN
90                                                NaN   NaN
91                                                NaN   NaN
92                                                NaN   NaN
93                                                NaN   NaN
94                                                NaN   NaN
95                                                NaN   NaN
96                                                NaN   NaN

                                                   5     6   \
0   2-letter and 2-digit codes from the ANSI stand...  USPS
1                                                 NaN   NaN
2                                                 NaN   NaN
3                                                 NaN   NaN
4                                                 NaN   NaN
5                                                 NaN   NaN
6                                                 NaN   NaN
7                                                 NaN   NaN
8                                                 NaN   NaN
9                                                 GPO    AP
10                                                NaN   NaN
11                                                NaN   NaN
12                                                 AL    AL
13                                                 AK    AK
14                                                 AZ    AZ
15                                                 AR    AR
16                                                 CA    CF
17                                                 CO    CL
18                                                 CT    CT
19                                                 DE    DL
20                                                 DC    DC
21                                                 FL    FL
22                                                 GA    GA
23                                                 HI    HA
24                                                 ID    ID
25                                                 IL    IL
26                                                 IN    IN
27                                                 IA    IA
28                                                 KS    KA
29                                                 KY    KY
..                                                ...   ...
67                                                 VI    VI
68                                                NaN   NaN
69                                                NaN   NaN
70                                                NaN   NaN
71                                                NaN   NaN
72                                                NaN   NaN
73                                                NaN   NaN
74                                                NaN   NaN
75                                                NaN   NaN
76                                                NaN   NaN
77                                                NaN   NaN
78                                                 FM   NaN
79                                                 MH   NaN
80                                                 PW   NaN
81                                                 AA   NaN
82                                                 AE   NaN
83                                                 AP   NaN
84                                                 CM   NaN
85                                                 CZ   NaN
86                                                 NB   NaN
87                                                 PI   NaN
88                                                 TT   NaN
89                                                NaN   NaN
90                                                NaN   NaN
91                                                NaN   NaN
92                                                NaN   NaN
93                                                NaN   NaN
94                                                NaN   NaN
95                                                NaN   NaN
96                                                NaN   NaN

                                                   7       8   \
0   2-letter codes used by the United States Posta...    USCG
1                                                 NaN     NaN
2                                                 NaN     NaN
3                                                 NaN     NaN
4                                                 NaN     NaN
5                                                 NaN     NaN
6                                                 NaN     NaN
7                                                 NaN     NaN
8                                                 NaN     NaN
9                                  Otherabbreviations     NaN
10                                                NaN     NaN
11                                               U.S.    U.S.
12                                               Ala.    Ala.
13                                             Alaska  Alaska
14                                              Ariz.   Ariz.
15                                               Ark.    Ark.
16                                             Calif.  Calif.
17                                              Colo.   Colo.
18                                              Conn.   Conn.
19                                               Del.    Del.
20                                               D.C.    D.C.
21                                               Fla.    Fla.
22                                                Ga.     Ga.
23                                             Hawaii  Hawaii
24                                              Idaho   Idaho
25                                               Ill.    Ill.
26                                               Ind.    Ind.
27                                               Iowa    Iowa
28                                              Kans.    Kan.
29                                                Ky.     Ky.
..                                                ...     ...
67                                               V.I.     NaN
68                                                NaN     NaN
69                                                NaN     NaN
70                                                NaN     NaN
71                                                NaN     NaN
72                                                NaN     NaN
73                                                NaN     NaN
74                                                NaN     NaN

In [26]:
df3= df1[11:]
print (df3)
df3.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
11,United States of America,Federal state,.mw-parser-output .monospaced{font-family:mono...,US,00,NaN,NaN,U.S.,U.S.,U.S.A.,NaN,NaN,NaN,NaN,NaN
12,Alabama,State,US-AL,AL,01,AL,AL,Ala.,Ala.,NaN,NaN,NaN,NaN,NaN,NaN
13,Alaska,State,US-AK,AK,02,AK,AK,Alaska,Alaska,Alas.,NaN,NaN,NaN,NaN,NaN
14,Arizona,State,US-AZ,AZ,04,AZ,AZ,Ariz.,Ariz.,Az.,NaN,NaN,NaN,NaN,NaN
15,Arkansas,State,US-AR,AR,05,AR,AR,Ark.,Ark.,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:

mapping = df3[[0,3]]
mapping.head(5)

#print (mapping[3])

                           0   3
11  United States of America  US
12                   Alabama  AL
13                    Alaska  AK
14                   Arizona  AZ
15                  Arkansas  AR

In [131]:
#mapping.rename(columns= {0:'state'} , inplace = True)
mapping.rename(columns= {3:'abbr'} , inplace = True)
mapping

                                     state abbr
11                United States of America   US
12                                 Alabama   AL
13                                  Alaska   AK
14                                 Arizona   AZ
15                                Arkansas   AR
16                              California   CA
17                                Colorado   CO
18                             Connecticut   CT
19                                Delaware   DE
20                    District of Columbia   DC
21                                 Florida   FL
22                                 Georgia   GA
23                                  Hawaii   HI
24                                   Idaho   ID
25                                Illinois   IL
26                                 Indiana   IN
27                                    Iowa   IA
28                                  Kansas   KS
29                                Kentucky   KY
30                               Louisiana   LA
31                                   Maine   ME
32                                Maryland   MD
33                           Massachusetts   MA
34                                Michigan   MI
35                               Minnesota   MN
36                             Mississippi   MS
37                                Missouri   MO
38                                 Montana   MT
39                                Nebraska   NE
40                                  Nevada   NV
..                                     ...  ...
67                     U.S. Virgin Islands   VI
68             U.S. Minor Outlying Islands   UM
69                            Baker Island  NaN
70                          Howland Island  NaN
71                           Jarvis Island  NaN
72                          Johnston Atoll  NaN
73                            Kingman Reef  NaN
74                          Midway Islands  NaN
75                          Navassa Island  NaN
76                        Palmyra Atoll[c]  NaN
77                             Wake Island  NaN
78                              Micronesia   FM
79                        Marshall Islands   MH
80                                   Palau   PW
81         U.S. Armed Forces – Americas[d]  NaN
82           U.S. Armed Forces – Europe[e]  NaN
83          U.S. Armed Forces – Pacific[f]  NaN
84                Northern Mariana Islands  NaN
85                       Panama Canal Zone  NaN
86                                Nebraska  NaN
87                      Philippine Islands  NaN
88  Trust Territory of the Pacific Islands  NaN
89                                  Codes:  NaN
90                                     ISO  NaN
91                                    ANSI  NaN
92                                    USPS  NaN
93                                    USCG  NaN
94                          Abbreviations:  NaN
95                                     GPO  NaN
96                                      AP  NaN

[86 rows x 2 columns]

# Mapping Countries to their abbreviations

Using the data scraped from the previous task, map abbriviation to the name of states.
 
  

## Instructions:
 
- Using the scraped data create a variable called `mapping` which has the Country
 as key and Abbreviation as value
- Create a new column called `abbr` as the 7th column (index = 6) of the DataFrame `df_final`
- map the `df_final['state']` on variable `mapping` and store it in `df_final['abbr']`

In [188]:
#mapping['state']= mapping.['state'].str.lower()
mapping['state']=mapping['state'].str.lower().str.replace(' ','')
mapping.head(15)

C:\Users\RG186032\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                    state abbr
11  unitedstatesofamerica   US
12                alabama   AL
13                 alaska   AK
14                arizona   AZ
15               arkansas   AR
16             california   CA
17               colorado   CO
18            connecticut   CT
19               delaware   DE
20     districtofcolumbia   DC
21                florida   FL
22                georgia   GA
23                 hawaii   HI
24                  idaho   ID
25               illinois   IL

In [189]:
mapping

                                state abbr
11              unitedstatesofamerica   US
12                            alabama   AL
13                             alaska   AK
14                            arizona   AZ
15                           arkansas   AR
16                         california   CA
17                           colorado   CO
18                        connecticut   CT
19                           delaware   DE
20                 districtofcolumbia   DC
21                            florida   FL
22                            georgia   GA
23                             hawaii   HI
24                              idaho   ID
25                           illinois   IL
26                            indiana   IN
27                               iowa   IA
28                             kansas   KS
29                           kentucky   KY
30                          louisiana   LA
31                              maine   ME
32                           maryland   MD
33                      massachusetts   MA
34                           michigan   MI
35                          minnesota   MN
36                        mississippi   MS
37                           missouri   MO
38                            montana   MT
39                           nebraska   NE
40                             nevada   NV
..                                ...  ...
67                  u.s.virginislands   VI
68           u.s.minoroutlyingislands   UM
69                        bakerisland  NaN
70                      howlandisland  NaN
71                       jarvisisland  NaN
72                      johnstonatoll  NaN
73                        kingmanreef  NaN
74                      midwayislands  NaN
75                      navassaisland  NaN
76                    palmyraatoll[c]  NaN
77                         wakeisland  NaN
78                         micronesia   FM
79                    marshallislands   MH
80                              palau   PW
81        u.s.armedforces–americas[d]  NaN
82          u.s.armedforces–europe[e]  NaN
83         u.s.armedforces–pacific[f]  NaN
84             northernmarianaislands  NaN
85                    panamacanalzone  NaN
86                           nebraska  NaN
87                  philippineislands  NaN
88  trustterritoryofthepacificislands  NaN
89                             codes:  NaN
90                                iso  NaN
91                               ansi  NaN
92                               usps  NaN
93                               uscg  NaN
94                     abbreviations:  NaN
95                                gpo  NaN
96                                 ap  NaN

[86 rows x 2 columns]

In [190]:
# Code Starts here
#df_final.head(5)
merged=pd.merge(df_final,mapping,how = 'left',  left_on='state', right_on='state')
merged.head(5)

# Code ends here

,account,name,street,city,state,postal-code,Jan,Feb,Mar,total,abbr
0,211829.0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,texas,28752.0,10000.0,62000.0,35000.0,107000.0,TX
1,320563.0,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,northcarolina,38365.0,95000.0,45000.0,35000.0,175000.0,NC
2,648336.0,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,iowa,76517.0,91000.0,120000.0,35000.0,246000.0,IA
3,109996.0,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,maine,46021.0,45000.0,120000.0,10000.0,175000.0,ME
4,121213.0,Bauch-Goldner,7274 Marissa Common,Shanahanchester,california,49681.0,162000.0,120000.0,35000.0,317000.0,CA

In [191]:
merged = merged[['account','name','street','city','state','abbr','postal-code','Jan','Feb','Mar','total']]

In [167]:
merged

,account,name,street,city,state,abbr,postal-code,Jan,Feb,Mar,total
0,211829.0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,texas,TX,28752.0,10000.0,62000.0,35000.0,107000.0
1,648336.0,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,iowa,IA,76517.0,91000.0,120000.0,35000.0,246000.0
2,242368.0,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,iowa,IA,72686.0,162000.0,120000.0,35000.0,317000.0
3,109996.0,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,maine,ME,46021.0,45000.0,120000.0,10000.0,175000.0
4,121213.0,Bauch-Goldner,7274 Marissa Common,Shanahanchester,california,CA,49681.0,162000.0,120000.0,35000.0,317000.0
5,132971.0,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,arkansas,AR,62785.0,150000.0,120000.0,35000.0,305000.0
6,209744.0,Champlin-Morar,26739 Grant Lock,Lake Juliannton,pennsylvania,PA,64415.0,70000.0,95000.0,35000.0,200000.0
7,212303.0,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,idaho,ID,46308.0,70000.0,120000.0,35000.0,225000.0
8,273274.0,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,delaware,DE,27933.0,150000.0,120000.0,70000.0,340000.0
9,NaN,NaN,NaN,NaN,united states of america,US,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,alabama,AL,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,alaska,AK,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,arizona,AZ,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,colorado,CO,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,connecticut,CT,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,district of columbia,DC,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,florida,FL,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,georgia,GA,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,hawaii,HI,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,illinois,IL,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,indiana,IN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,kansas,KS,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,kentucky,KY,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,louisiana,LA,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,maryland,MD,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,massachusetts,MA,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,michigan,MI,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,minnesota,MN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,mississippi,MS,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,missouri,MO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
57,NaN,NaN,NaN,NaN,northern mariana islands,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,puerto rico,PR,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,u.s. virgin islands,VI,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,u.s. minor outlying islands,UM,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,baker island,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,howland island,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,jarvis island,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,johnston atoll,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,kingman reef,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,midway islands,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,navassa island,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,palmyra atoll[c],NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,wake island,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,micronesia,FM,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,marshall islands,MH,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,palau,PW,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,u.s. armed forces – americas[d],NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,u.s. armed forces – europe[e],NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,u.s. armed forces – pacific[f],NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,panama canal zone,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,philippine islands,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,trust territory of the pacific islands,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,codes:,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,iso,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,ansi,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,usps,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,uscg,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,abbreviations:,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,gpo,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,ap,NaN,NaN,NaN,NaN,NaN,NaN

# Filling in the Missing Values

What you will notice in the previous task is that for two states Mississippi and Tennessee will have NaN values in column `abbr`. In this task you will be filling those missing values manually. 
 
  

## Intructions :  
- Locate the NaN in the abbr and replace `mississipi` with `MS` and store it in `df_mississipi`
- Locate the NaN in the abbr and replace `tenessee` with `TN` and store it in `df_tenessee`
- update the df_final

In [192]:
# Code starts here

merged.at[6,'abbr']='MS'
merged.at[10,'abbr']='TN'
merged
# Code ends here

,account,name,street,city,state,abbr,postal-code,Jan,Feb,Mar,total
0,211829.0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,texas,TX,28752.0,10000.0,62000.0,35000.0,107000.0
1,320563.0,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,northcarolina,NC,38365.0,95000.0,45000.0,35000.0,175000.0
2,648336.0,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,iowa,IA,76517.0,91000.0,120000.0,35000.0,246000.0
3,109996.0,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,maine,ME,46021.0,45000.0,120000.0,10000.0,175000.0
4,121213.0,Bauch-Goldner,7274 Marissa Common,Shanahanchester,california,CA,49681.0,162000.0,120000.0,35000.0,317000.0
5,132971.0,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,arkansas,AR,62785.0,150000.0,120000.0,35000.0,305000.0
6,145068.0,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,mississipi,MS,18008.0,62000.0,120000.0,70000.0,252000.0
7,205217.0,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,rhodeisland,RI,53461.0,145000.0,95000.0,35000.0,275000.0
8,209744.0,Champlin-Morar,26739 Grant Lock,Lake Juliannton,pennsylvania,PA,64415.0,70000.0,95000.0,35000.0,200000.0
9,212303.0,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,idaho,ID,46308.0,70000.0,120000.0,35000.0,225000.0
10,214098.0,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,tenessee,TN,47743.0,45000.0,120000.0,55000.0,220000.0
11,231907.0,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,northdakota,ND,31415.0,150000.0,10000.0,162000.0,322000.0
12,242368.0,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,iowa,IA,72686.0,162000.0,120000.0,35000.0,317000.0
13,268755.0,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,rhodeisland,RI,31919.0,55000.0,120000.0,35000.0,210000.0
14,273274.0,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,delaware,DE,27933.0,150000.0,120000.0,70000.0,340000.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1462000.0,1507000.0,717000.0,3686000.0

In [193]:
merged

,account,name,street,city,state,abbr,postal-code,Jan,Feb,Mar,total
0,211829.0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,texas,TX,28752.0,10000.0,62000.0,35000.0,107000.0
1,320563.0,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,northcarolina,NC,38365.0,95000.0,45000.0,35000.0,175000.0
2,648336.0,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,iowa,IA,76517.0,91000.0,120000.0,35000.0,246000.0
3,109996.0,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,maine,ME,46021.0,45000.0,120000.0,10000.0,175000.0
4,121213.0,Bauch-Goldner,7274 Marissa Common,Shanahanchester,california,CA,49681.0,162000.0,120000.0,35000.0,317000.0
5,132971.0,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,arkansas,AR,62785.0,150000.0,120000.0,35000.0,305000.0
6,145068.0,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,mississipi,MS,18008.0,62000.0,120000.0,70000.0,252000.0
7,205217.0,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,rhodeisland,RI,53461.0,145000.0,95000.0,35000.0,275000.0
8,209744.0,Champlin-Morar,26739 Grant Lock,Lake Juliannton,pennsylvania,PA,64415.0,70000.0,95000.0,35000.0,200000.0
9,212303.0,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,idaho,ID,46308.0,70000.0,120000.0,35000.0,225000.0
10,214098.0,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,tenessee,TN,47743.0,45000.0,120000.0,55000.0,220000.0
11,231907.0,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,northdakota,ND,31415.0,150000.0,10000.0,162000.0,322000.0
12,242368.0,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,iowa,IA,72686.0,162000.0,120000.0,35000.0,317000.0
13,268755.0,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,rhodeisland,RI,31919.0,55000.0,120000.0,35000.0,210000.0
14,273274.0,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,delaware,DE,27933.0,150000.0,120000.0,70000.0,340000.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1462000.0,1507000.0,717000.0,3686000.0

## Total amount bank hold  


Here, use the newly created abbr column to understand the total amount that the bank holds in each state. Let us make this data frame more readable by introducing units in this case `$` sign representing the unit of money
 
  

## Instructions :
  
- Groups by `abbr` and finds the sum of aabr,jan,feb ,mar and total store the result in `df_sub`
- Write a `lambda function` to introduce `$` sign infromt of all the numbers using `applymap` and store the result in `formatted_df`

In [198]:
# Code starts here
merged.groupby('abbr')['Jan','Feb','Mar','total'].sum()
formatted_df= 

# Code ends here

           Jan       Feb       Mar     total
abbr
AR    150000.0  120000.0   35000.0  305000.0
CA    162000.0  120000.0   35000.0  317000.0
DE    150000.0  120000.0   70000.0  340000.0
IA    253000.0  240000.0   70000.0  563000.0
ID     70000.0  120000.0   35000.0  225000.0
ME     45000.0  120000.0   10000.0  175000.0
MS     62000.0  120000.0   70000.0  252000.0
NC     95000.0   45000.0   35000.0  175000.0
ND    150000.0   10000.0  162000.0  322000.0
PA     70000.0   95000.0   35000.0  200000.0
RI    200000.0  215000.0   70000.0  485000.0
TN     45000.0  120000.0   55000.0  220000.0
TX     10000.0   62000.0   35000.0  107000.0

# Append a row to the DataFrame

In this task, you will append a row to the data frame which will give us information about the total amount of the various regions in Jan, Feb and march and also the grand total
 
## Instructions :

- Computes the sum of amount of all users in the Month of Jan, Feb, March and the  total in variable called `sum_row` 
 (Here the sum implies the sum of all the entries in the `Jan Column`, sum of entries in `Feb` Column and Grand total stands for the sum of entries in the column `total`)
- Tranpose the dataframe `sum_row` and store it in new dataframe `df_sub_sum` 
- Make sure you append the `$` to all the digits and store it in dataframe `df_sub_sum` .
- Append this computed sum to the DataFrame `final_table` 
- rename the index of `final_table` to  `{0: "Total"}`

In [ ]:
# Code starts here


# Code ends here

# Pie chart for total


Having prepared all the data now its time to present the results visually
 
## Instructions :
- add the total of all the three months and store it in variable called `df_sub['total']`
- plot the pie chart for the `df_sub['total']`

In [ ]:
# Code starts here


# Code ends here